body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#ffb6c1, #ffe4e1);
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 80px;
  font-size: 50px;
  color: #ff1493;
}

p {
  font-size: 25px;
  color: #555;
}
